 
* {
    margin: 0;
    padding: 0;

/* color 1: #025259 
color 2: #007172 
color 3: #F29325 
color 4: #D94F04  
color 5: #F4E2DE  */
}
 
 body {
    height: 100%;
    background-color: #025259;
}
.encabezado {
    
    width: 100%; height: 100px;
    background-color: #025259;
    color: white;
    text-align: center;
    padding: 20px; 
    font-size: 24px;
     
    box-sizing: border-box; / 
}
  
/*****CONTENEDORES PADRE *************************************/

.ContenedorP{
   
    display: flex;
    flex-direction: row;  flex-wrap: wrap;
    background-color: #744919  ;
    
  
}

.flex-container{ 
    background: #9baafd;
    display: flex;
    flex: 6;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

/*****BARRA NAV *************************************/
 
.menu {
    background: #007172;
    display: flex;
    flex-direction: column; 
    flex: 1;
    padding: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid white;
    text-align: center;
}
 
/****** TARJETAS   ************************/

.tarjeta {
    width: 300px; height: 400px;
    background-color: #F29325;
    display: flex;
    flex-direction: column;
    
}

.titulo {
   background-color: #D94F04;
   height: 40px;
}

.cuerpo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;  
}
 
.pie {
    background-color: #D94F04;
    height: 30px;
}
 
.tarjeta .titulo, .tarjeta .pie {   
   display: flex;  
   color: white;
   justify-content: center;
   align-items: center;  
}
 
/****** TARJETAS   ************************/
 footer{
    width: 100%; height: 100px;
    background-color: #025259;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
}




 
@media screen and (max-width: 960px) {

    .ContenedorP {
        display: flex;
        flex-direction: column;
    }

    .flex-container { display: flex;
        flex-direction: column;  
        align-items: center;   
 
        gap: 20px;  
    }
}
